
/* popup for admin/user */

*{
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}

.noAuth , .wAuth{ 
    background-color: white;
    width: 450px;
    padding: 20px 20px;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    position: fixed;
}

.noAuth h2 , .wAuth h2{
    font-weight: 800;
    color: black;
    margin-bottom: 30px;
}

.noAuth p , .wAuth p{
    color: black;
    font-size: 14px;
    letter-spacing: 2px;
    text-align:justify;
    margin-bottom: 50px;
}

.noAuth button, .wAuth button, .signin button {
    display: block;
    margin: 0 0 -9px auto;
    background-color: transparent;
    font-size: 30px;
    color: #c5c5c5;
    border: none;
    outline: none;
    cursor: pointer;
}

.noAuth a, .wAuth a{
    display: block;
    width: 200px;
    font-weight: 800;
    position:relative;
    margin: auto;
    text-align: center;
    padding: 10px 3px;
    background-color: rgb(201, 201, 201);
    color: #000000;
    text-decoration: none;
    border-radius: 50px;
}

.noAuth a:hover, .wAuth a:hover{
    background-color: rgb(78, 204, 67);
    color: #ffffff;
    font-weight: 800;
}

/* with Auth login*/

.signin
{
  position: fixed;
  width: 450px;
  background: #222;  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0,0,0,9);
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}
.signin .content 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.signin .content .form 
{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.signin .content .form .inputBox
{
  position: relative;
  width: 100%;
}
.signin .content .form .inputBox input 
{
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}
.signin .content .form .inputBox i 
{
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}
.signin .content .form .inputBox input:focus ~ i,
.signin .content .form .inputBox input:valid ~ i
{
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #fff;
}
.signin .content .form .links 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.signin .content .form .links a 
{
  color: #fff;
  text-decoration: none;
}
.signin .content .form .links a:nth-child(2)
{
  color: rgb(255, 208, 0);
  font-weight: 600;
}
.signin .content .form .inputBox input[type="submit"]
{
  padding: 10px;
  background: rgb(255, 208, 0);
  color: #000;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
}
input[type="submit"]:active
{
  opacity: 0.6;
}

.disabled{
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}
